{% extends 'base.html' %}
{% block headline %}My Headline will go here... {% endblock headline %}
{% block byline %}By zero{% endblock byline %}
{% block pubdate %}
  <time datetime="2025-03-09" pubdate>March 9, 2025</time>
{% endblock pubdate %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/app.scss' %}">
{% endblock styles %}

{% block scripts %}

<!-- {% script 'app' %} -->
{% endblock scripts %}

Above content
{% block content %}
<p>Hello NICAR 2025</p>
{% endblock content %}
